/playwright-report/
/blob-report/
/playwright/.cache/

# Node
node_modules/
dist/
coverage/

# Logs & results
*.log
test-result/
@rerun.txt

# IDEs
.vscode/
.DS_Store

# NX cache
.nx/

# .env
.env.test